@import '../../styles/';

.offences__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offence {
  @include stack(S);
  border-bottom: 1px solid $dark-white;
  padding-bottom: #{map-get($spacing, S)}px;

  &--last {
    border-bottom: none;
    padding-bottom: 3px;
    margin-bottom: 0;
  }

  &__level-1 {
    @include typography(eyebrow);
  }

  &__level-2 {
    @include typography(eyebrow-bold);
    color: $blue;
  }

  &__level-3 {
    @include typography(subheadline-reduced-bold);
    @include stack(XXS);
  }

  &__suburb {
    @include typography(eyebrow-bold);
    color: $blue;
  }

  &__date {
    @include typography(eyebrow-bold);
    color: $red;
  }
}
