@import '../../styles/';

.accordion {
  @include stack(XL);

  &__button {
    @include typography(subheadline-reduced-bold);
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $red;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &--dimmed {
      opacity: 0.5;
    }

    @include mq(M) {
      padding: 5px 0;
    }
  }

  &__panel {
    padding: 15px;
    background-color: $dark-white;
    border-radius: 15px;
    border: 1px solid $red;
    margin: 0 15px #{map-get($spacing, XS)}px;

    @include mq(M) {
      margin: 0 0 #{map-get($spacing, XS)}px;
    }
  }
}
